* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.grid {
    max-width: 100%;
}

.grid-container {

    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255, 245, 246, 1) 65%);

}

.container {
max-width: 480px;
margin-left: auto;
margin-right: auto;
padding: 0 15px;
}


.grid-list  {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-auto-rows: 100px 100px;
	grid-auto-flow: dense;
    gap: 5px;

}


.child-grid {
   flex-wrap: wrap;
   
    display: flex;
	justify-content: start;
	align-items: center;
  
}



.box1 {
    margin-top: 30px;
}

.box2 {
    margin-top: 25px;
}

.box4 {
    margin-top: 30px;
}


.box5 {
    margin-top: 15px;
}

.box6 {
margin-top: 30px;
}


img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 1px;
}

.small-image {
max-width: 50%;
}



.gallery__image:hover {
    z-index: 1;
  }
  
  .gallery__image {
    transition: transform 500ms;
  }
  
  .gallery__image:hover  {
    transform: scale(1.2);
  }

  



@media (min-width: 400px ) and (max-width:767px) {

    .box1 {
        margin-top: 50px;
    }
    
    .box2 {
        margin-top: 25px;
    }
    
    .box4 {
        margin-top: 30px;
    }
    
    
    .box5 {
        margin-top: 15px;
    }
    
    .box6 {
    margin-top: 50px;
    }
    
}



@media (min-width: 768px ) and (max-width: 1279px) {


    .container {
        max-width: 768px;
        padding-left: 74px;
padding-right: 74px;
padding-left: 74px;
    }

    .grid-list {
        gap: 10px;
    }

    img {
      
        margin: 3px;
    }

    .box1 {
        margin-top: 100px;
    }
    
    .box2 {
        margin-top: 50px;
    }
    
    .box4 {
        margin-top: 60px;
    }
    
    
    .box5 {
        margin-top: 30px;
    }
    
    .box6 {
    margin-top: 100px;
    }

}

@media (min-width: 1280px ) {



    .container {
        max-width: 1280px;
        padding-right: 74px;
padding-left: 74px;
    }

    .grid-list {
        gap: 10px;
    }


    img {
      
        margin: 5px;
    }


.box1 {
    margin-top: 100px;
}

.box2 {
    margin-top: 50px;
}

.box4 {
    margin-top: 60px;
}


.box5 {
    margin-top: 30px;
}

.box6 {
margin-top: 100px;
}



}




.left {
 
   /*  Animation decalaration   */
    animation-name: moveInleft;
    animation-duration: 3s;
}

.right {
   
    animation-name: moveInRight;
    animation-duration: 3s;
}














@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }

}
















